<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">

    <title>창작하는 곳</title>
    <link href="../static/assets/css/cartoonMake.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">

</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

        <div id="logo">
            <a href="/main"><h3>만화집</h3></a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="index.html">Regna</a></h1>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/main">메인페이지</a></li>
                <li><a class="nav-link scrollto btn btn-success" href="/cartoon/create">만화 만들기</a></li>
            </ul>
        </nav>
                <!--
                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                  </ul>
                </li>
                -->
                <!--
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>--><!-- .navbar -->
    </div>
</header><!-- End Header -->
<section id="createCut" class="make">
    <div class="backgroundImg" id="background">
        <h3 id="insertHelper" style="text-align: center;" class="text-black-50">이미지를 올려주세요.</h3>
    </div>

    <div onclick="nextCut()" class="nextButton">
        <button class="btn btn-outline-success" style="height: inherit;width: inherit" id="nextButton">다음컷으로</button>
    </div>
</section>
<div id="contextmenu" class="custom-context-menu" style="display: none;">
    <ul>
        <li onclick="createObject('nomal')">일반 말풍선</li>
        <li onclick="createObject('imagination')">상상 말풍선</li>
        <li onclick="createObject('surprised')">놀람 말풍선</li>
        <li onclick="createObject('boom')">폭발 말풍선</li>
    </ul>
</div>
<div style="height: 200px;width: 500px; background: #b8e48e; border-radius: 10px; z-index: 6;position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%); border: solid"
     class="flex-lg-12" id="ro" hidden>
    <input type="text" placeholder="제목을 입력하세요" id="title">
    <button class="btn-primary"
            style="height: 75px;width: 150px; position: absolute; top : 50% ;left: 50%;transform: translate(-50%,-50%); border-radius: 20px;font-size: 24px"
            onclick="sendTitle()">전송
    </button>
</div>
<div onclick="nextCut()" class="nextButton">
</div>

<script src="../static/assets/js/main.js"></script>
<script src="../static/assets/js/cartoonMakeIndex.js"></script>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/purecounter/purecounter.js"></script>
<script src="../static/assets/vendor/aos/aos.js"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->

</body>
</html>