<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/assets/css/cartoonMake.css" rel ="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>

    <section id = "createCut" class="make">
        <div class="backgroundImg" id ="background">
            <h3 id = "insertHelper" style="text-align: center">이미지를 올려주세요.</h3>
        </div>

        <div onclick="nextCut()" class="nextButton" >
            <button class="btn btn-outline-success" style="height: inherit;width: inherit" id = "nextButton">다음컷으로</button>
        </div>
    </section>
    <div id = "contextmenu" class="custom-context-menu" style="display: none;">
        <ul>
            <li onclick="createObject('nomal')">일반 말풍선</li>
            <li onclick="createObject('imagination')">상상 말풍선</li>
            <li onclick="createObject('surprised')">놀람 말풍선</li>
            <li onclick="createObject('boom')">폭발 말풍선</li>
        </ul>
    </div>
    <div style="height: 200px;width: 500px; background: #b8e48e; border-radius: 10px; z-index: 6;position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%); border: solid" class="flex-lg-12" id ="ro" hidden>
        <input type = "text" placeholder="제목을 입력하세요" id = "title">
        <button class="btn-primary" style="height: 75px;width: 150px; position: absolute; top : 50% ;left: 50%;transform: translate(-50%,-50%); border-radius: 20px;font-size: 24px" onclick="sendTitle()">전송</button>
    </div>
    <div onclick="nextCut()" class="nextButton" >
    </div>

    <script src="../static/assets/js/main.js"></script>
    <script src="../static/assets/js/cartoonMakeIndex.js"></script>
</body>
</html>